version: '3.8'

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana-monitor
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./monitor.db:/var/lib/grafana/monitor.db:rw  # Cambiar de :ro a :rw
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=frser-sqlite-datasource
      - GF_LOG_LEVEL=warn
    restart: unless-stopped

volumes:
  grafana-storage: